
body {

  .fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {
  border: none;
  background: $color-blue-base;
  border-radius: 0 !important; // needs important for BB overide on buttons.
  font-weight: 600;
  color: #fff;
  i {
    color: #fff;
  }
  span {
    color: #fff;
  }
  &:hover {
    background-color: $color-blue-dark !important;

  }
}

}
