// main logo  ----------------------------------------------- /
.SiteLogo {
  position: relative;
  text-align: left;
  float: left;
  margin-top:12px;
  margin-left: 5px;
  width: 15%;
  @include im-media('>large') {
    width: auto;
    float: none;
    position: absolute;
    margin-top: 6px;
    margin-left: 0;
  }
  a {
    display: inline-block;
  }
  img {
    display: block;
    width: 120px; //Adjust margin of ScrollMenu if this changes
    height: 100%;
    @include im-media('>large') {
      width: 180px;
    }
  }
} // END SiteLogo --------

@include im-media('>large') {
.PageHeader.sticky .SiteLogo img {
  width: 150px;

}
}
