.BlogWrap {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  display: flex;
  padding-bottom: 40px;
    flex-direction: column;
  @include im-media('>650px') {
  flex-direction: row;
  }

  h2 {
    font-size: rem(25);
  }

  .excerpt-read-more {
    clear: both;
  }
}

.BlogWrap-image {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

  }
}

.BlogWrap-content {
width: 100%;
padding: 0 50px 10px 50px;
  @include im-media('>650px') {
width: 75%;
  }
}
