/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/
.TopHeader {
  position: fixed;
  top: 0;
  display: block;
  min-height: 40px;
  z-index: 1000;
  width: 100%;
  background: #fff;

}

.HeaderUpper {
  display: none;

    display: block;
    transition: all 0.4s ease;
    height: 40px;
    margin-bottom: 10px;
    font-size: rem(15);
    a {
      font-size: rem(15);
    }
    p {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      vertical-align: middle;
    }

}


.PageHeader {
  transition: all 0.4s ease;
  position: fixed;
  top:40px;
  width: 100%;
  z-index: 1000;
  height: 92px; // match padding to accomodated fixed header body tag in elements
  background: #fff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  color: $color-blue-base;
  @include im-media('>large') {
    height: 106px;  // match padding to accomodated fixed header body tag in elements
  }
  a {
    color: $color-blue-base;
  }
}



.MailLink {
  margin-left: 7px;
  position: relative;
  top:3px;
  i {
    font-size: 20px;
  }
}

.HeaderSocial {
  float: right;
  a {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding:0;
    color: #fff;
    border-right: 1px solid #0793d0;

  }
}

.hs-facebook {
  background: #0082ba;
}

.hs-twitter {
  background: #27a9e3;
}

.hs-tripadvisor {
  background: #0082ba;
}

.hs-wifi {
    background: #0082ba;
}

.hs-linkedin {
  background: #107bbf;
}

.hs-google {
  background: #0082ba;
}

.HeaderCTAs {
  float: right;
  a {
    display: inline-block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    padding: 0 20px;
    background: $color-blue-dark;
    text-transform: uppercase;
    font-weight: 700;
    i {
      margin-left: 6px;
    }
  }
  a.hs-wifi {
    background: #0082ba;
  }
}

// Sticky Header


.PageHeader.sticky {
  height: 88px;
  .HeaderUpper {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    span, a {
      display: none;
    }
  }
  .MainMenuWrap {
    transition: all 0.1s ease;
    opacity: 0;
    height: 0;
    display: none;
  }
  .ScrollMenu {
    opacity: 1;
    height: 50px;
    @include im-media('>large') {
      height: 88px;
    }
  }
}
