.single {
  .ArticleHeader {
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #fff;
    margin-bottom: 30px;
    .SectionContainer {
      height: 100%;
    }
    h1 {
      color: #fff;
      position: relative;
      top:50%;
      font-size: rem(30);
      transform: translateY(-50%);
    }
  }

  .EntryMeta {
    background: $color-black;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .ArticleFooter {
    text-align: right;
  }
}
