/*----------------------------------------------------------------*\
#STRIPS
\*----------------------------------------------------------------*/

.Strip {
  position: relative;
}


.BlueBanner {
  background: url('../img/banner2.jpg');
  background-size: cover;
  background-position: center;
      padding: 30px 0;

  .SectionContainer {
    min-height: 200px;
    height: 100%;

  }
}
