@charset "UTF-8";
/*-----------------------------------------------------------------
# FlexDev Theme - Main Sass Includes
-----------------------------------------------------------------*/
/******************* UTILITIES IMPORT *****************/
/*-----------------------------------------------------------------
# VARIABLES
-----------------------------------------------------------------*/
/*
* Here is where we declare all our variables like colors, fonts,
* base values, and defaults. We want to make sure this file ONLY
* contains variables.
*/
/*-----------------------------------------------------------------
# SASS FUNCTIONS
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
# MIXINS - VARIOUS
-----------------------------------------------------------------*/
/******************* BEAVER IMPORT *********************/
body .fl-builder-content a.fl-button, body .fl-builder-content a.fl-button:visited {
  border: none;
  background: #0082ba;
  border-radius: 0 !important;
  font-weight: 600;
  color: #fff;
}

body .fl-builder-content a.fl-button i, body .fl-builder-content a.fl-button:visited i {
  color: #fff;
}

body .fl-builder-content a.fl-button span, body .fl-builder-content a.fl-button:visited span {
  color: #fff;
}

body .fl-builder-content a.fl-button:hover, body .fl-builder-content a.fl-button:visited:hover {
  background-color: #122e3a !important;
}

body .TwaFull.fl-row-full-height .fl-row-content-wrap {
  min-height: calc(100vh - 140px);
}

body .fl-row-full-height .fl-row-content-wrap {
  min-height: calc(100vh - 140px);
}

/******************* VENDOR IMPORT *********************/
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.admin-bar .mfp-wrap .white-popup-block .mfp-close {
  top: 0 !important;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*----------------------------------------------------------------*
  #TEC List View
*----------------------------------------------------------------*/
.tribe-events-list .LinkButton {
  margin-top: 0;
}

body .tribe-events-list .tribe-events-list-separator-month {
  margin: 5px auto 30px 0;
  padding: 0;
}

body .tribe-events-list .tribe-events-list-separator-month span {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0;
}

body .tribe-events-list .tribe-events-list-separator-month::after {
  display: none;
}

.events-list #tribe-events {
  margin-top: 50px;
}

.events-list .tribe-events-ical.tribe-events-button {
  margin-bottom: 40px;
}

/*----------------------------------------------------------------*
  #TEC Single
*----------------------------------------------------------------*/
.tribe-events-single-event-title {
  margin-bottom: 5px;
}

.tribe-events-schedule {
  margin-top: 0;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
  background-color: #055D53;
}

.mm-hidden {
  display: none !important;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.mm-menu,
.mm-menu > .mm-panel {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0;
}

.mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.mm-panel.mm-opened {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.mm-panel.mm-subopened {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

.mm-panel.mm-highest {
  z-index: 1;
}

.mm-menu > .mm-panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.mm-menu > .mm-panel.mm-hasnavbar {
  padding-top: 40px;
}

.mm-menu > .mm-panel:before, .mm-menu > .mm-panel:after {
  content: '';
  display: block;
  height: 20px;
}

.mm-vertical .mm-panel {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}

.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after {
  border-color: transparent;
}

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block;
}

.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
  height: 40px;
  bottom: auto;
}

.mm-vertical .mm-listview > li > .mm-next:after,
.mm-listview > li.mm-vertical > .mm-next:after {
  top: 16px;
  bottom: auto;
}

.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-navbar {
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.mm-navbar > * {
  display: block;
  padding: 10px 0;
}

.mm-navbar a, .mm-navbar a:hover {
  text-decoration: none;
}

.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mm-navbar .mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.mm-navbar .mm-btn:first-child {
  padding-left: 20px;
  left: 0;
}

.mm-navbar .mm-btn:last-child {
  padding-right: 20px;
  right: 0;
}

.mm-panel .mm-navbar {
  display: none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display: block;
}

.mm-listview,
.mm-listview > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-listview {
  font: inherit;
  font-size: 14px;
}

.mm-listview a,
.mm-listview a:hover {
  text-decoration: none;
}

.mm-listview > li {
  position: relative;
}

.mm-listview > li > a,
.mm-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-listview > li > a.mm-arrow,
.mm-listview > li > span.mm-arrow {
  padding-right: 50px;
}

.mm-listview > li:not(.mm-divider):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.mm-listview > li:not(.mm-divider):after {
  left: 20px;
}

.mm-listview .mm-next {
  background: rgba(3, 2, 1, 0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.mm-listview .mm-next:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
  margin-right: 50px;
}

.mm-listview .mm-next.mm-fullsubopen {
  width: 100%;
}

.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none;
}

.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 50px;
  margin-right: 0;
}

.mm-menu > .mm-panel > .mm-listview {
  margin-left: -20px;
  margin-right: -20px;
}

.mm-menu > .mm-panel > .mm-listview.mm-first {
  margin-top: -20px;
}

.mm-menu > .mm-panel > .mm-listview.mm-last {
  padding-bottom: 20px;
}

.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
  content: '';
  border: 2px solid transparent;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 20px;
}

.mm-next:after,
.mm-arrow:after {
  border-top: none;
  border-left: none;
  right: 20px;
}

.mm-divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
}

.mm-listview > li.mm-spacer {
  padding-top: 40px;
}

.mm-listview > li.mm-spacer > .mm-next {
  top: 40px;
}

.mm-listview > li.mm-spacer.mm-divider {
  padding-top: 25px;
}

.mm-menu {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.7);
}

.mm-menu .mm-navbar {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-listview > li .mm-prev:before,
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu .mm-listview > li .mm-prev:after,
.mm-menu .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.5);
}

.mm-menu.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.05);
}

.mm-menu .mm-divider {
  background: rgba(0, 0, 0, 0.05);
}

/*
  jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  box-sizing: border-box;
  position: relative;
}

.mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

html.mm-opened {
  overflow: hidden;
  position: relative;
}

html.mm-opened body {
  overflow: hidden;
}

html.mm-background .mm-page {
  background: inherit;
}

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block;
}

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed;
}

.mm-menu.mm-current {
  display: block;
}

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px;
}

html.mm-opening .mm-slideout {
  -webkit-transform: translate(80%, 0);
  -moz-transform: translate(80%, 0);
  -ms-transform: translate(80%, 0);
  -o-transform: translate(80%, 0);
  transform: translate(80%, 0);
}

@media all and (max-width: 175px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0);
  }
}

@media all and (min-width: 550px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(440px, 0);
    -moz-transform: translate(440px, 0);
    -ms-transform: translate(440px, 0);
    -o-transform: translate(440px, 0);
    transform: translate(440px, 0);
  }
}

/*
  jQuery.mmenu autoHeight addon CSS
*/
.mm-menu.mm-top.mm-autoheight, .mm-menu.mm-bottom.mm-autoheight {
  max-height: 80%;
}

.mm-menu.mm-top.mm-autoheight.mm-fullscreen, .mm-menu.mm-bottom.mm-autoheight.mm-fullscreen {
  max-height: 100%;
}

.mm-menu.mm-measureheight > .mm-panel {
  bottom: auto !important;
  height: auto !important;
}

/*
  jQuery.mmenu counters addon CSS
*/
em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 45px;
  top: 50%;
}

em.mm-counter + a.mm-next {
  padding-left: 40px;
}

em.mm-counter + a.mm-next + a,
em.mm-counter + a.mm-next + span {
  margin-right: 90px;
}

em.mm-counter + a.mm-fullsubopen {
  padding-left: 0;
}

.mm-vertical > .mm-counter {
  top: 12px;
  margin-top: 0;
}

.mm-vertical.mm-spacer > .mm-counter {
  margin-top: 40px;
}

.mm-nosubresults > .mm-counter {
  display: none;
}

.mm-menu em.mm-counter {
  color: rgba(0, 0, 0, 0.3);
}

/*
  jQuery.mmenu dividers addon CSS
*/
.mm-divider > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  line-height: 25px;
}

.mm-divider.mm-opened a.mm-next:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-collapsed:not(.mm-uncollapsed) {
  display: none;
}

.mm-fixeddivider {
  background: inherit;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-fixeddivider:after {
  content: none !important;
  display: none !important;
}

.mm-hasdividers .mm-fixeddivider {
  display: block;
}

.mm-menu .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.05);
}

/*
  jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/*
  jQuery.mmenu navbar addon CSS
*/
.mm-menu > .mm-navbar {
  background: inherit;
  padding: 0;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-navbar-bottom {
  border-top: 1px solid transparent;
  border-bottom: none;
  top: auto;
  bottom: 0;
}

.mm-navbar-top ~ .mm-navbar-top {
  border-bottom: none;
}

.mm-navbar-bottom ~ .mm-navbar-bottom {
  border-top: none;
}

.mm-navbar.mm-hasbtns {
  padding: 0 40px;
}

.mm-navbar-top-1 {
  top: 0px;
}

.mm-hasnavbar-top-1 .mm-panel {
  top: 40px;
}

.mm-hasnavbar-top-1 .mm-indexer {
  top: 50px;
}

.mm-hasnavbar-top-1 .mm-fixeddivider {
  top: 40px;
}

.mm-navbar-top-2 {
  top: 40px;
}

.mm-hasnavbar-top-2 .mm-panel {
  top: 80px;
}

.mm-hasnavbar-top-2 .mm-indexer {
  top: 90px;
}

.mm-hasnavbar-top-2 .mm-fixeddivider {
  top: 80px;
}

.mm-navbar-top-3 {
  top: 80px;
}

.mm-hasnavbar-top-3 .mm-panel {
  top: 120px;
}

.mm-hasnavbar-top-3 .mm-indexer {
  top: 130px;
}

.mm-hasnavbar-top-3 .mm-fixeddivider {
  top: 120px;
}

.mm-navbar-bottom-1 {
  bottom: 0px;
}

.mm-hasnavbar-bottom-1 .mm-panel {
  bottom: 40px;
}

.mm-hasnavbar-bottom-1 .mm-indexer {
  bottom: 50px;
}

.mm-navbar-bottom-2 {
  bottom: 40px;
}

.mm-hasnavbar-bottom-2 .mm-panel {
  bottom: 80px;
}

.mm-hasnavbar-bottom-2 .mm-indexer {
  bottom: 90px;
}

.mm-navbar-bottom-3 {
  bottom: 80px;
}

.mm-hasnavbar-bottom-3 .mm-panel {
  bottom: 120px;
}

.mm-hasnavbar-bottom-3 .mm-indexer {
  bottom: 130px;
}

.mm-close {
  text-align: right;
}

.mm-close:after {
  content: 'x';
}

.mm-navbar-2 > *,
.mm-navbar-3 > *,
.mm-navbar-4 > *,
.mm-navbar-5 > *,
.mm-navbar-6 > * {
  display: block;
  float: left;
}

.mm-navbar-2 > * {
  width: 50%;
}

.mm-navbar-3 > * {
  width: 33.33%;
}

.mm-navbar-4 > * {
  width: 25%;
}

.mm-navbar-5 > * {
  width: 20%;
}

.mm-navbar-6 > * {
  width: 16.66%;
}

/*
  jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  box-sizing: border-box;
}

.mm-search {
  height: 40px;
  padding: 7px 10px 0 10px;
}

.mm-search input {
  border: none;
  border-radius: 26px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  outline: none;
  display: block;
  width: 100%;
  height: 26px;
  margin: 0;
  padding: 0 10px;
}

.mm-search input::-ms-clear {
  display: none;
}

.mm-panel > .mm-search {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mm-panel.mm-hassearch {
  padding-top: 40px;
}

.mm-panel.mm-hassearch.mm-hasnavbar {
  padding-top: 80px;
}

.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
  top: 40px;
}

.mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  display: none;
  padding: 40px 0;
}

.mm-noresults .mm-noresultsmsg {
  display: block;
}

.mm-noresults .mm-indexer {
  display: none !important;
}

li.mm-nosubresults > a.mm-next {
  display: none;
}

li.mm-nosubresults > a.mm-next + a,
li.mm-nosubresults > a.mm-next + span {
  padding-right: 10px;
}

.mm-menu .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}

.mm-menu .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
}

/*
  jQuery.mmenu sectionIndexer addon CSS
*/
.mm-indexer {
  background: inherit;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  width: 20px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: -100px;
  z-index: 3;
  -webkit-transition: right 0.4s ease;
  -moz-transition: right 0.4s ease;
  -ms-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-indexer a {
  text-decoration: none;
  display: block;
  height: 3.85%;
}

.mm-indexer ~ .mm-panel.mm-hasindexer {
  padding-right: 40px;
}

.mm-hasindexer .mm-indexer {
  right: 0;
}

.mm-hasindexer .mm-fixeddivider {
  right: 20px;
}

.mm-menu .mm-indexer a {
  color: rgba(0, 0, 0, 0.3);
}

/*
  jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
  position: absolute;
  left: -10000px;
}

label.mm-toggle,
label.mm-check {
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
}

label.mm-toggle:before,
label.mm-check:before {
  content: '';
  display: block;
}

label.mm-toggle {
  border-radius: 30px;
  width: 50px;
  height: 30px;
  margin-top: -15px;
}

label.mm-toggle:before {
  border-radius: 30px;
  width: 28px;
  height: 28px;
  margin: 1px;
}

input.mm-toggle:checked ~ label.mm-toggle:before {
  float: right;
}

label.mm-check {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

label.mm-check:before {
  border-left: 3px solid;
  border-bottom: 3px solid;
  width: 40%;
  height: 20%;
  margin: 25% 0 0 20%;
  opacity: 0.1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input.mm-check:checked ~ label.mm-check:before {
  opacity: 1;
}

li.mm-vertical label.mm-toggle, li.mm-vertical label.mm-check {
  bottom: auto;
  margin-top: 0;
}

li.mm-vertical label.mm-toggle {
  top: 5px;
}

li.mm-vertical label.mm-check {
  top: 5px;
}

label.mm-toggle, label.mm-check {
  right: 20px;
}

label.mm-toggle + a,
label.mm-toggle + span {
  padding-right: 80px;
}

label.mm-check + a,
label.mm-check + span {
  padding-right: 60px;
}

a.mm-next + label.mm-toggle, a.mm-next + label.mm-check {
  right: 60px;
}

a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span, a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
  margin-right: 50px;
}

a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span {
  padding-right: 70px;
}

a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
  padding-right: 50px;
}

em.mm-counter + a.mm-next + label.mm-toggle, em.mm-counter + a.mm-next + label.mm-check {
  right: 100px;
}

em.mm-counter + a.mm-next + label.mm-toggle + a,
em.mm-counter + a.mm-next + label.mm-toggle + span, em.mm-counter + a.mm-next + label.mm-check + a,
em.mm-counter + a.mm-next + label.mm-check + span {
  margin-right: 90px;
}

.mm-menu label.mm-toggle {
  background: rgba(0, 0, 0, 0.1);
}

.mm-menu label.mm-toggle:before {
  background: #f3f3f3;
}

.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}

.mm-menu label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.7);
}

/*
  jQuery.mmenu borderstyle extension CSS
*/
.mm-menu.mm-border-none .mm-listview > li:after,
.mm-listview.mm-border-none > li:after {
  content: none;
}

.mm-menu.mm-border-full .mm-listview > li:after,
.mm-listview.mm-border-full > li:after {
  left: 0 !important;
}

/*
  jQuery.mmenu effects extension CSS
*/
html.mm-effect-zoom-menu .mm-menu.mm-offcanvas {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

html.mm-effect-zoom-menu.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

html.mm-effect-zoom-menu.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}

html.mm-effect-zoom-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}

html.mm-effect-zoom-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}

html.mm-effect-slide-menu .mm-menu.mm-offcanvas {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

html.mm-effect-slide-menu.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

html.mm-effect-slide-menu.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

html.mm-effect-slide-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -o-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}

html.mm-effect-slide-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.mm-menu.mm-effect-zoom-panels .mm-panel {
  -webkit-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -moz-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -ms-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -o-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: -webkit-transform, left;
  -moz-transition-property: -moz-transform, left;
  -ms-transition-property: -ms-transform, left;
  -o-transition-property: -o-transform, left;
  transition-property: left, -webkit-transform;
  transition-property: transform, left;
  transition-property: transform, left, -webkit-transform;
}

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened.mm-subopened {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
}

.mm-menu.mm-effect-slide-panels-0 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-menu.mm-effect-slide-panels-100 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/*
  jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px;
}

html.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0);
  }
}

@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(10000px, 0);
    -moz-transform: translate(10000px, 0);
    -ms-transform: translate(10000px, 0);
    -o-transform: translate(10000px, 0);
    transform: translate(10000px, 0);
  }
}

html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0);
  }
}

@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-10000px, 0);
    -moz-transform: translate(-10000px, 0);
    -ms-transform: translate(-10000px, 0);
    -o-transform: translate(-10000px, 0);
    transform: translate(-10000px, 0);
  }
}

.mm-menu.mm-fullscreen.mm-top, .mm-menu.mm-fullscreen.mm-bottom {
  height: 100%;
  min-height: 140px;
  max-height: 10000px;
}

html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important;
}

/*
  jQuery.mmenu multiline extension CSS
*/
.mm-menu.mm-multiline .mm-listview > li > a,
.mm-menu.mm-multiline .mm-listview > li > span,
.mm-listview.mm-multiline > li
.mm-listview > li.mm-multiline > a,
.mm-listview.mm-multiline > li
.mm-listview > li.mm-multiline > span {
  text-overflow: clip;
  white-space: normal;
}

/*
  jQuery.mmenu pageshadow extension CSS
*/
.mm-menu.mm-pageshadow:after {
  content: "";
  display: block;
  width: 20px;
  height: 120%;
  position: absolute;
  left: 100%;
  top: -10%;
  z-index: 99;
}

.mm-menu.mm-pageshadow.mm-right:after {
  left: auto;
  right: 100%;
}

.mm-menu.mm-pageshadow.mm-next:after, .mm-menu.mm-pageshadow.mm-front:after {
  content: none;
  display: none;
}

.mm-menu.mm-pageshadow:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*
  jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.mm-menu.mm-right {
  left: auto;
  right: 0;
}

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0;
}

html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate(-80%, 0);
  -moz-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  -o-transform: translate(-80%, 0);
  transform: translate(-80%, 0);
}

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0);
  }
}

@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-440px, 0);
    -moz-transform: translate(-440px, 0);
    -ms-transform: translate(-440px, 0);
    -o-transform: translate(-440px, 0);
    transform: translate(-440px, 0);
  }
}

/*
  jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  z-index: 0 !important;
}

.mm-menu.mm-front {
  z-index: 1;
}

.mm-menu.mm-front, .mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.mm-menu.mm-top {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.mm-menu.mm-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-menu.mm-top, .mm-menu.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px;
}

/*
  jQuery.mmenu themes extension CSS
*/
.mm-menu.mm-theme-dark {
  background: #333333;
  color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-navbar {
  border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-navbar > *,
.mm-menu.mm-theme-dark .mm-navbar a {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-dark .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-dark .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-dark .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-dark .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-theme-dark .mm-divider {
  background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-theme-dark label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark em.mm-counter {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-pageshadow.mm-theme-dark:after {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mm-menu.mm-theme-dark .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-indexer a {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark label.mm-toggle {
  background: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark label.mm-toggle:before {
  background: #333333;
}

.mm-menu.mm-theme-dark input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}

.mm-menu.mm-theme-white {
  background: white;
  color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white .mm-navbar {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-navbar > *,
.mm-menu.mm-theme-white .mm-navbar a {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-white .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-white .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-white .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-white .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.05);
}

.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-theme-white .mm-divider {
  background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-theme-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-pageshadow.mm-theme-white:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mm-menu.mm-theme-white .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-indexer a {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white label.mm-toggle:before {
  background: white;
}

.mm-menu.mm-theme-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}

.mm-menu.mm-theme-black {
  background: black;
  color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black .mm-navbar {
  border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-navbar > *,
.mm-menu.mm-theme-black .mm-navbar a {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-black .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-listview > li:after {
  border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-black .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-black .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-black .mm-listview > li .mm-next:before {
  border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.3);
}

.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-divider {
  background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black em.mm-counter {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-pageshadow.mm-theme-black:after {
  content: none;
  display: none;
}

.mm-menu.mm-theme-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-indexer a {
  color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black label.mm-toggle:before {
  background: black;
}

.mm-menu.mm-theme-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}

/********************* BASE / CORE IMPORT *********************/
/* normalize.css - reference: http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * UB: Stop iOS from ruining everything and causing link styling where there should not be any
 */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
q::before,
q::after {
  content: '';
  content: none;
}

small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
ol,
ul {
  padding: 0;
  list-style-type: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Other Stuff
   ========================================================================== */
/* BORDER-BOX ALL THE THINGS! (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix, .cf, .comment-respond {
  zoom: 1;
}

.clearfix::before, .clearfix::after, .cf::before, .comment-respond::before, .cf::after, .comment-respond::after {
  content: "";
  display: table;
}

.clearfix::after, .cf::after, .comment-respond::after {
  clear: both;
}

/*-----------------------------------------------------------------
# TYPOGRAPHY SETUP
-----------------------------------------------------------------*/
html {
  font-size: 13px;
  line-height: 1.5;
}

@media screen and (min-width: 481px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 990px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1220px) {
  html {
    font-size: 16px;
  }
}

/* end responsive layout / typography */
body,
button,
input,
select,
textarea {
  color: #242424;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: #242424;
  font-weight: 400;
  font-family: "Raleway", Helvetica, sans-serif;
}

h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
}

h1, .h1-style {
  font-size: 3.125rem;
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0;
  text-transform: uppercase;
}

h2, .h2-style {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 0.5rem;
  padding: 0;
}

h3, .h3-style {
  font-size: 1.875rem;
  line-height: 1.3;
  margin: 0 0 0.5rem;
  padding: 0;
}

h4, .h4-style {
  font-size: 1.5rem;
  line-height: 1.35;
  margin: 0 0 0.5rem;
  padding: 0;
}

h5, .h5-style {
  font-size: 1.375rem;
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}

h6, .h6-style {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}

.MainTitle {
  text-align: center;
  margin: 0;
  color: #fff;
  font-weight: 800;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 1rem 0;
  padding: 0;
}

/*p*/
.FeaturedText {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  color: #FFCC00;
  font-weight: 700;
}

/*-----------------------------------------------------------------
# ELEMENT (HTML) STYLES
-----------------------------------------------------------------*/
body {
  background: #fff;
  padding-top: 130px;
}

@media (min-width: 991px) {
  body {
    padding-top: 145px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 1rem auto;
  padding: 0;
  clear: both;
}

.hr {
  background-color: #CCCCCC;
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  clear: both;
}

blockquote {
  background-color: #F9F9F9;
  border-left: 10px solid #a0a0a0;
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem 2.5rem;
  quotes: "“" "”" "‘" "’";
}

blockquote p {
  font-size: 1.25rem;
}

blockquote p:last-child {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-indent: -1rem;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 1rem !important;
}

blockquote p:last-child::before {
  content: "\2014";
  padding-right: 0.5em;
}

blockquote p:first-child {
  /* undo last child stuff above */
}

/* ADD BIG QUOTE AT THE START OF QUOTE
blockquote::before {
  color: #CCCCCC;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
.EntryContent ul {
  list-style-type: none;
  margin: 1rem 0 1rem 0.70rem;
  padding: 0;
  overflow: hidden;
}

.EntryContent ul li {
  display: block;
  margin: 0;
  padding: 0 0 0.375rem 2.45rem;
  position: relative;
  text-indent: -0.35rem;
}

.EntryContent ul li::before {
  border-radius: 3px;
  background: #676767;
  content: "";
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
  left: -1rem;
  top: -0.2em;
  text-align: right;
}

.EntryContent ol {
  counter-reset: item;
  margin: 1rem 0 1rem 0.85rem;
  padding: 0;
  overflow: hidden;
}

.EntryContent ol > li {
  display: block;
  padding: 0 0 0.5rem 2.1rem;
  position: relative;
  text-indent: -1.5rem;
}

.EntryContent ol > li::before {
  content: counter(item);
  counter-increment: item;
  color: #676767;
  font-weight: 400;
  display: inline-block;
  position: relative;
  top: 0;
  left: -0.75rem;
  width: 1.5rem;
  text-align: right;
}

/*-----------------------------------------------------------------
# FORMS
-----------------------------------------------------------------*/
fieldset {
  border: none;
}

/*>== Reset for Use of Gravity Forms Styles ====================== */
.EntryContent .gform_wrapper ul, .gform_wrapper ul {
  margin: 0;
}

.EntryContent .gform_wrapper li, .gform_wrapper li {
  padding-left: 0;
  text-indent: 0;
}

.EntryContent .gform_wrapper li:before, .gform_wrapper li:before {
  content: "";
  display: none;
}

/*
// FORM PLACEHOLDER STYLING
input::-webkit-input-placeholder { color: $color-white; }
input::-moz-placeholder { color: $color-white; opacity: 1; }
input:-ms-input-placeholder { color: $color-white; }
*/
.SpecialsAside {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
}

.SpecialsMain {
  width: calc(100% - 120px);
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

.SpecialLink {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto 5px auto;
}

.SpecialLink:hover {
  background-position: 0 100%;
}

.SpecialLink-Juniors {
  width: 101px;
  height: 45px;
  background-image: url("../img/logos/btn_spec_playgolfjuniors.png");
}

.SpecialLink-footgolf {
  width: 71px;
  height: 65px;
  background-image: url("../img/logos/btn_spec_footgolf.png");
}

.SpecialLink-golfdinner {
  width: 92px;
  height: 69px;
  background-image: url("../img/logos/btn_spec_golfdinner.png");
}

.SpecialLink-ladiesnight {
  width: 101px;
  height: 36px;
  background-image: url("../img/logos/btn_spec_ladiesnight.png");
}

.SpecialLink-mensnight {
  width: 100px;
  height: 64px;
  background-image: url("../img/logos/btn_spec_mensnight.png");
}

.SpecialLink-sundays {
  width: 94px;
  height: 68px;
  background-image: url("../img/logos/btn_spec_sundaysatthesprings.png");
}

.SpecialLink-backnine {
  width: 89px;
  height: 65px;
  background-image: url("../img/logos/btn_spec_theback9.png");
}

.SpecialLink-vegas {
  width: 93px;
  height: 63px;
  background-image: url("../img/logos/btn_spec_vegasfundays.png");
}

.SpecialLink-limited {
  width: 81px;
  height: 56px;
  background-image: url("../img/logos/btn_spec_limitedtime.png");
}

.SpecialLink-double {
  width: 90px;
  height: 44px;
  background-image: url("../img/logos/DoubleTwilight.jpg");
}

.DaysAvailible {
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}

.DaysAvailible span {
  color: #333;
}

.page-id-608 .SpecialLink-double, .page-id-413 .SpecialLink-vegas, .page-id-414 .SpecialLink-ladiesnight, .page-id-415 .SpecialLink-mensnight, .page-id-416 .SpecialLink-Juniors, .page-id-417 .SpecialLink-footgolf, .page-id-418 .SpecialLink-sundays, .page-id-431 .SpecialLink-limited, .page-id-454 .SpecialLink-backnine, .page-id-453 .SpecialLink-golfdinner {
  background-position: 0 100%;
}

.Strip.BookBar {
  height: 100px;
  background: #122e3a;
  text-align: center;
}

.Strip.BookBar h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-size: 2.5rem;
}

.Strip.BookBar h4 a {
  color: #f4f4f4;
  vertical-align: middle;
  line-height: 100px;
}

.Strip.BookBar h4 a:hover img {
  opacity: 0.5;
}

.Strip.BookBar h4 a img {
  width: 85px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -7px;
  transition: all 333ms ease;
}

@media (min-width: 991px) {
  .HeroSlider {
    min-height: 500px;
  }
}

.HeroSlider-item {
  position: absolute;
}

.HeroSlider-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
  max-height: 550px;
}

.HeroSlider-content {
  background: #ccc;
  text-align: center;
  padding: 10px 0;
}

.HeroSlider-content .LinkButton {
  padding: 0;
  margin-top: 0;
}

@media (min-width: 769px) {
  .HeroSlider-content {
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 130px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .HeroSlider-content h4 {
    color: #FFFFFF;
    padding: 20px 20px 0 20px;
    font-size: 1.875rem;
  }
}

.HeroSlider-content .LinkButton {
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.slick-arrow::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #000;
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.ReviewSlider-item {
  text-align: center;
  width: 80%;
}

.ReviewSlider-item p {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  font-style: italic;
}

.ReviewSlider-item p span {
  display: inline-block;
  color: #fff;
  position: relative;
  font-style: normal;
  font-weight: 700;
}

.ReviewSlider-item p span::before {
  content: "";
  width: 36px;
  top: 50%;
  height: 1px;
  background: #fff;
  display: block;
  position: absolute;
  left: -50px;
}

.ReviewSlider-item p span::after {
  content: "";
  width: 15px;
  top: 50%;
  height: 3px;
  background: #fff;
  display: block;
  position: absolute;
  left: -39px;
  margin-top: -1px;
}

.ReviewSlider .slick-dots {
  margin: 0 auto;
  text-align: center;
}

.ReviewSlider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.ReviewSlider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.ReviewSlider .slick-dots li button::before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
}

.ReviewSlider .slick-dots li.slick-active button::before {
  background-color: rgba(255, 255, 255, 0.8);
}

/*----------------------------------------------------------------*
#HoleNav
*----------------------------------------------------------------*/
.HoleNav {
  margin-top: 30px;
}

.HoleNav .slick-slide {
  cursor: pointer;
  color: #fff;
  background: #0082ba;
  padding: 7px 0;
  text-align: center;
  border-right: 1px solid #122e3a;
  font-size: 1.25rem;
}

.HoleNav .slick-slide.slick-current {
  background: #242424;
}

.HoleNav .slick-prev, .HoleNav .slick-next {
  position: absolute;
  top: 0;
  height: 100%;
  border: 0;
  font-size: 0;
  width: 50px;
  z-index: 2;
  background: #242424;
}

.HoleNav .slick-prev {
  left: 0;
}

.HoleNav .slick-prev::after {
  content: "<";
  font-size: 20px;
  color: #fff;
}

.HoleNav .slick-next {
  right: 0;
}

.HoleNav .slick-next::after {
  content: ">";
  font-size: 20px;
  color: #fff;
}

/*----------------------------------------------------------------*
  #Inner Section
*----------------------------------------------------------------*/
.Hole-flexwrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

@media (min-width: 769px) {
  .Hole-flexwrapper {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.Hole-details {
  max-width: 100%;
  width: 50%;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #242424;
}

@media (min-width: 769px) {
  .Hole-details {
    width: auto;
    background: none;
  }
}

.Hole-details h4 {
  background: #242424;
  color: #D7CEB7;
  display: block;
  padding: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  width: 100%;
}

@media (min-width: 769px) {
  .Hole-details h4 {
    display: inline-block;
    width: auto;
    height: 100%;
  }
}

.Hole-details h4 span {
  font-size: 3.75rem;
  font-weight: 700;
}

.Hole-imageDescription {
  width: 100%;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  text-align: center;
}

.Hole-imageDescription img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .Hole-imageDescription {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
  }
}

.Hole-yardage {
  width: auto;
  background: #D7CEB7;
  border: 1px solid #FFFFFF;
  margin-bottom: 30px;
  padding: 20px;
  text-transform: uppercase;
  width: 50%;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

@media (min-width: 769px) {
  .Hole-yardage {
    width: auto;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}

.Hole-yardageMarker {
  margin-bottom: 10px;
}

.Hole-yardageMarker i {
  margin-right: 10px;
  font-size: 20px;
}

.Hole-yardageMarker--blue {
  color: #0082ba;
}

.Hole-yardageMarker--white {
  color: #fff;
}

.Hole-yardageMarker--red {
  color: #500200;
}

.Hole-description {
  width: 100%;
  text-align: left;
  margin: 30px auto 0 auto;
}

.Hole-description p {
  font-size: 1.125rem;
}

/******************** NAVIGATION IMPORT ********************/
a, a:visited {
  color: #0082ba;
  text-decoration: none;
  cursor: pointer;
  transition: all 133ms ease-in;
}

a:hover {
  color: #00628c;
}

a, a:active, a:hover, a:visited {
  outline: medium none;
}

a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/*-----------------------------------------------------------------
# PAGINATION STLYING
-----------------------------------------------------------------*/
.PostNav {
  clear: both;
  list-style: none;
  margin: 20px 0 20px 0;
}

.PostNav .PostNav-prev {
  float: left;
  width: 49%;
}

.PostNav .PostNav-next {
  float: right;
  width: 49%;
  text-align: right;
}

.PostNav .nav-divider {
  float: left;
}

/*-----------------------------------------------------------------
# MAIN MENU STYLES
-----------------------------------------------------------------*/
.MainMenuWrap {
  display: none;
}

.MainMenu {
  padding-right: 20px;
}

@media (min-width: 991px) {
  /*********************************************************/
  .MobileMenuWrap {
    display: none;
  }
  .MainMenuWrap {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .MainMenu {
    background-color: transparent;
    position: relative;
    list-style: none;
    margin: 0;
    width: 100%;
  }
  .MainMenu > li {
    display: inline-block;
    margin: 0;
    position: relative;
    white-space: nowrap;
  }
  .MainMenu > li a {
    color: #242424;
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 42px 1rem 42px 1rem;
  }
  .MainMenu > li > a:hover {
    color: #0082ba;
  }
  .MainMenu > .current-menu-item > a,
  .MainMenu > .current_page_item > a,
  .MainMenu > .current_page_parent > a,
  .MainMenu > .current_page_ancestor > a {
    color: #0082ba;
  }
  .MainMenu > li.MenuLinkButton {
    border: 1px solid #0082ba;
  }
  .MainMenu > li.MenuLinkButton a {
    padding: 10px 1rem 10px 1rem;
  }
  .MainMenu li:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .MainMenu ul {
    background-color: #0082ba;
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms linear;
    z-index: 150;
  }
  .MainMenu ul::before {
    content: "";
    z-index: 200;
    display: block;
    width: 50px;
    height: 5px;
    position: absolute;
    top: -5px;
    background-color: #0082ba;
  }
  .MainMenu ul li {
    float: none;
    position: relative;
    max-height: 0;
    transition: max-height 400ms linear;
    overflow: hidden;
    border-bottom: 1px solid #0077ab;
  }
  .MainMenu ul li:last-of-type {
    border-bottom: 0;
  }
  .MainMenu ul li:hover {
    background: #0094d4;
  }
  .MainMenu li:hover ul li {
    max-height: 140px;
  }
  .MainMenu ul li a {
    color: #ffffff;
    font-size: 0.9375rem;
    padding: 5px 16px;
    width: 100%;
    display: block;
    transition: none;
    text-transform: none;
    font-weight: 400;
  }
  .MainMenu ul li a:hover,
  .MainMenu ul .current-menu-item > a,
  .MainMenu ul .current-menu-parent > a,
  .MainMenu ul .current_page_item > a,
  .MainMenu ul .current_page_parent > a,
  .MainMenu ul .current_page_ancestor > a {
    color: #ffffff;
  }
  .MainMenu li:last-of-type ul {
    right: 0;
    left: auto;
  }
  .MainMenu li:last-of-type ul::before {
    right: 0;
  }
}

@media (min-width: 1181px) {
  .MainMenu {
    padding-right: 0;
  }
}

@media (min-width: 991px) {
  /*********************************************************/
  .TertiaryMenu ul {
    margin: 0;
  }
  .TertiaryMenu li {
    display: inline-block;
  }
  .TertiaryMenu li:first-of-type::before {
    display: none;
  }
  .TertiaryMenu li::before {
    color: #717171;
    content: "|";
    font-size: 1rem;
    padding-right: 0.3rem;
    vertical-align: 1px;
  }
  .TertiaryMenu li a {
    padding: 0.5rem 0.3rem;
  }
}

.ScrollTopMenu {
  display: none;
}

@media (min-width: 991px) {
  .ScrollTopMenu {
    display: inline-block;
  }
}

.ScrollMenu {
  transition: all 0.3s ease;
  top: 30px;
  display: block;
  margin-left: 149px;
}

.ScrollMenu a {
  display: inline-block;
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 29px 0;
}

@media (min-width: 991px) {
  .ScrollMenu {
    display: none;
    opacity: 0;
    height: 0;
    margin-left: 180px;
  }
}

.ScrollMenu .ScrollMenu-top {
  display: none;
}

@media (min-width: 991px) {
  .ScrollMenu .ScrollMenu-top {
    display: inline-block;
  }
}

.ScrollMenu .ScrollMenu-mmenu {
  display: inline-block;
}

@media (min-width: 991px) {
  .ScrollMenu .ScrollMenu-mmenu {
    display: none;
  }
}

.sticky .ScrollMenu {
  display: block;
}

#nav-menu:not(.mm-menu) {
  display: none;
}

@media (max-width: 489px) {
  .ScrollMenu a.ScrollMenu-call {
    display: none;
  }
  .ScrollMenu a.ScrollMenu-book {
    display: none;
  }
  .ScrollMenu a.ScrollMenu-mmenu {
    float: right;
    margin-right: 20px;
    width: 75%;
  }
}

/******************** MEDIA IMPORT ********************/
.EntryContent img {
  /* make all images entered through editor responsive */
  display: block;
  max-width: 100%;
  height: auto;
}

/* if display is big enough let users float images and content. and give floating stuff some margins */
@media (min-width: 769px) {
  .EntryContent .alignleft,
  .EntryContent img.alignleft {
    display: inline;
    float: left;
    margin: 0.625rem 1.875rem 1rem 0;
  }
  .EntryContent .alignright,
  .EntryContent img.alignright {
    display: inline;
    float: right;
    margin: 0.625rem 0 1rem 1.875rem;
  }
  .EntryContent .aligncenter,
  .EntryContent img.aligncenter {
    clear: both;
    display: block;
    margin: 0.625rem auto 1rem auto;
  }
}

.EntryContent video,
.EntryContent object {
  max-width: 100%;
  height: auto;
}

.EmbedContainer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.EmbedContainer iframe,
.EmbedContainer object,
.EmbedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-caption {
  background-color: #EEE;
  max-width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.wp-caption img {
  margin: 0;
  max-width: 100%;
}

.wp-caption .wp-caption-text {
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: left;
  padding: 0.75rem 0.75rem;
  text-transform: uppercase;
}

figure.gallery-item {
  float: left;
  margin: 0 1em 1em 0;
  position: relative;
}

figure.gallery-item a img {
  border: 4px solid #BBBBBB;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

figure.gallery-item a:hover img {
  border-color: #CCCCCC;
}

figure.gallery-item figcaption {
  display: none;
}

/****************** COMPONENTS IMPORT *******************/
.LinkButton {
  display: inline-block;
  margin: 1rem 0 1.75rem 0;
  text-align: center;
}

.LinkButton a {
  background-color: #0082ba;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  transition: all 333ms ease;
}

.LinkButton a:hover {
  background-color: #00628c;
}

/*-----------------------------------------------------------------
# ICONS
-----------------------------------------------------------------*/
.widget {
  margin: 20px 0;
  padding: 0;
}

.widget:first-of-type {
  margin-top: 0;
}

.widget img {
  max-width: 100%;
  height: auto;
}

.widgettitle {
  border-bottom: 2px solid #444;
}

.SiteLogo {
  position: relative;
  text-align: left;
  float: left;
  margin-top: 12px;
  margin-left: 5px;
  width: 15%;
}

@media (min-width: 991px) {
  .SiteLogo {
    width: auto;
    float: none;
    position: absolute;
    margin-top: 6px;
    margin-left: 0;
  }
}

.SiteLogo a {
  display: inline-block;
}

.SiteLogo img {
  display: block;
  width: 120px;
  height: 100%;
}

@media (min-width: 991px) {
  .SiteLogo img {
    width: 180px;
  }
}

@media (min-width: 991px) {
  .PageHeader.sticky .SiteLogo img {
    width: 150px;
  }
}

.FullWidthBooking {
  display: block;
}

/******************* LAYOUT STYLES IMPORT *****************/
/*--------------------------------------------------------------
# GRIDS
--------------------------------------------------------------*/
.SectionContainer {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.SectionContainerFull {
  width: 100%;
}

/*----------------------------------------------------------------*#STRIPS
\*----------------------------------------------------------------*/
.Strip {
  position: relative;
}

.BlueBanner {
  background: url("../img/banner2.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.BlueBanner .SectionContainer {
  min-height: 200px;
  height: 100%;
}

/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/
.TopHeader {
  position: fixed;
  top: 0;
  display: block;
  min-height: 40px;
  z-index: 1000;
  width: 100%;
  background: #fff;
}

.HeaderUpper {
  display: none;
  display: block;
  transition: all 0.4s ease;
  height: 40px;
  margin-bottom: 10px;
  font-size: 0.9375rem;
}

.HeaderUpper a {
  font-size: 0.9375rem;
}

.HeaderUpper p {
  margin-bottom: 0;
}

.HeaderUpper span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  vertical-align: middle;
}

.PageHeader {
  transition: all 0.4s ease;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1000;
  height: 92px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  color: #0082ba;
}

@media (min-width: 991px) {
  .PageHeader {
    height: 106px;
  }
}

.PageHeader a {
  color: #0082ba;
}

.MailLink {
  margin-left: 7px;
  position: relative;
  top: 3px;
}

.MailLink i {
  font-size: 20px;
}

.HeaderSocial {
  float: right;
}

.HeaderSocial a {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  color: #fff;
  border-right: 1px solid #0793d0;
}

.hs-facebook {
  background: #0082ba;
}

.hs-twitter {
  background: #27a9e3;
}

.hs-tripadvisor {
  background: #0082ba;
}

.hs-wifi {
  background: #0082ba;
}

.hs-linkedin {
  background: #107bbf;
}

.hs-google {
  background: #0082ba;
}

.HeaderCTAs {
  float: right;
}

.HeaderCTAs a {
  display: inline-block;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  padding: 0 20px;
  background: #122e3a;
  text-transform: uppercase;
  font-weight: 700;
}

.HeaderCTAs a i {
  margin-left: 6px;
}

.HeaderCTAs a.hs-wifi {
  background: #0082ba;
}

.PageHeader.sticky {
  height: 88px;
}

.PageHeader.sticky .HeaderUpper {
  opacity: 0;
  height: 0;
  margin-bottom: 0;
}

.PageHeader.sticky .HeaderUpper span, .PageHeader.sticky .HeaderUpper a {
  display: none;
}

.PageHeader.sticky .MainMenuWrap {
  transition: all 0.1s ease;
  opacity: 0;
  height: 0;
  display: none;
}

.PageHeader.sticky .ScrollMenu {
  opacity: 1;
  height: 50px;
}

@media (min-width: 991px) {
  .PageHeader.sticky .ScrollMenu {
    height: 88px;
  }
}

.single .ArticleHeader {
  background-size: cover;
  background-position: center;
  height: 300px;
  color: #fff;
  margin-bottom: 30px;
}

.single .ArticleHeader .SectionContainer {
  height: 100%;
}

.single .ArticleHeader h1 {
  color: #fff;
  position: relative;
  top: 50%;
  font-size: 1.875rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single .EntryMeta {
  background: #242424;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.single .ArticleFooter {
  text-align: right;
}

/*-----------------------------------------------------------------
# WEBSITE FOOTER
-----------------------------------------------------------------*/
.PageFooter {
  background: #242424;
  min-height: 220px;
  color: #989898;
  font-size: 0.875rem;
  padding: 40px 0 10px 0;
}

.PageFooter h4 {
  color: #ccc;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid #5f5f5f;
  position: relative;
  margin-bottom: 16px;
}

.PageFooter h4::after {
  content: "";
  display: block;
  height: 5px;
  width: 25px;
  margin-top: 5px;
  background: #0082ba;
  position: relative;
  top: 3px;
  left: 9px;
}

.PageFooter h4::before {
  content: "";
  display: block;
  height: 1px;
  width: 46px;
  margin-top: 0px;
  background: #0082ba;
  position: absolute;
  bottom: -1px;
  left: 0px;
}

.PageFooter p {
  font-size: 0.875rem;
}

@media (min-width: 991px) {
  .PageFooter {
    padding-bottom: 0;
  }
}

.SiteCopyright {
  display: block;
}

@media (min-width: 769px) {
  .FooterColumns {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .FooterColumns .FooterColumn {
    display: block;
    max-width: 360px;
    margin: 0 auto 20px auto;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .FooterColumns .FooterColumn {
    -webkit-flex: 1 0 48%;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
    margin-right: 2%;
  }
  .FooterColumns .FooterColumn:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 991px) {
  .FooterColumns .FooterColumn {
    -webkit-flex: 1 0 22.5%;
    -ms-flex: 1 0 22.5%;
    flex: 1 0 22.5%;
    margin-right: 3.0%;
  }
  .FooterColumns .FooterColumn:nth-child(4n) {
    margin-right: 0;
  }
}

.FooterLower {
  background: #282828;
  height: 50px;
  margin-top: 40px;
  text-align: center;
  line-height: 40px;
}

.FooterLower span {
  height: 50px;
  line-height: 50px;
}

.FooterAddress p {
  margin-bottom: 2px;
}

.FooterAddress p i {
  margin-right: 10px;
}

.FooterColumn .validation_error {
  display: none;
}

.FooterColumn input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

.FooterColumn input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.FooterColumn input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

.FooterColumn input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.FooterColumn .gform_wrapper input.large, .gform_wrapper input.medium, .gform_wrapper input.small, .gform_wrapper select.large, .gform_wrapper select.medium, .gform_wrapper select.small {
  background: #666;
  border: 0;
  padding-right: 0;
}

body .FooterColumn .gform_wrapper ul li.gfield, body .FooterColumn .gform_wrapper .top_label div.ginput_container {
  margin-top: 0;
  padding-right: 0;
}

.FooterColumn .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  width: 100%;
}

.FooterColumn .gform_wrapper li.gfield.gfield_error, .FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border: 0;
  background: none;
  padding-top: 0;
}

.FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0;
}

.FooterColumn .gform_wrapper .validation_message {
  color: #0082ba;
}

.FooterColumn .gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .FooterColumn .gform_wrapper li.gfield_error textarea {
  border-color: #0082ba;
}

.FooterColumn .gform_wrapper {
  margin-top: -10px;
}

.FooterColumn .gform_wrapper .gform_footer {
  margin: 0;
}

.FooterColumn .gform_wrapper .gform_footer .button {
  background-color: #0082ba;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  transition: all 333ms ease;
}

.BlogWrap {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 651px) {
  .BlogWrap {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.BlogWrap h2 {
  font-size: 1.5625rem;
}

.BlogWrap .excerpt-read-more {
  clear: both;
}

.BlogWrap-image {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.BlogWrap-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.BlogWrap-content {
  width: 100%;
  padding: 0 50px 10px 50px;
}

@media (min-width: 651px) {
  .BlogWrap-content {
    width: 75%;
  }
}

/*----------------------------------------------------------------*  #POST STYLES
\*----------------------------------------------------------------*/
.EntryContentWithSidebar {
  width: 66%;
  display: inline-block;
  vertical-align: top;
}

.SecondaryContent {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}

.TitleBanner {
  height: 250px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
}

/********************* OTHER STUFF IMPORT *******************/
/*-----------------------------------------------------------------
# UTILITY HELPER CLASSES
-----------------------------------------------------------------*/
.u-verticalCenter {
  /* apply to parent element */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.u-verticalCenterTransform {
  /* apply to child element, parent must be relative positioned */
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

@media (min-width: 769px) {
  .u-floatLeft {
    display: block !important;
    float: left !important;
  }
  .u-floatRight {
    display: block !important;
    float: right !important;
  }
}

.u-textCenter {
  text-align: center !important;
}

.u-orphanFix {
  overflow: hidden !important;
  width: auto !important;
}

.u-responsiveImage, .u-responsiveImage img {
  max-width: 100% !important;
  height: auto !important;
}

.u-polyFit {
  font-family: 'object-fit: cover; object-position: center;';
}

.u-relative {
  position: relative !important;
}

@media (max-width: 1279px) {
  .u-responsivePadding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.u-hidden {
  display: none !important;
  visibility: hidden;
}

.u-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-visuallyHidden.focusable:active, .u-visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.u-invisible {
  visibility: hidden;
}

/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */