// WP IMAGES ---------------------------------------------------/
.EntryContent img { /* make all images entered through editor responsive */
  display: block;
  max-width: 100%;
  height: auto;
}

/* if display is big enough let users float images and content. and give floating stuff some margins */
@include im-media('>medium') {
  .EntryContent .alignleft,
  .EntryContent img.alignleft {
    display: inline;
    float: left;
    margin: 0.625rem 1.875rem 1rem 0;
  }
  .EntryContent .alignright,
  .EntryContent img.alignright {
    display: inline;
    float: right;
    margin: 0.625rem 0 1rem 1.875rem;
  }
  .EntryContent .aligncenter,
  .EntryContent img.aligncenter {
    clear: both;
    display: block;
    margin: 0.625rem auto 1rem auto;
  }
}
