.Strip.BookBar {
  height: 100px;
  background: $color-blue-dark;
  text-align: center;

  h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: rem(40);
    a {
        color: #f4f4f4;
        vertical-align: middle;
        line-height: 100px;
        &:hover {
          img {
            opacity: 0.5;
          }
        }
        img {
          width: 85px;
          margin-left: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-top: -7px;
          transition: $transition-ease;
        }
    }

  }
}
