/*----------------------------------------------------------------*
#HoleNav
*----------------------------------------------------------------*/
.HoleNav {
  margin-top: 30px;
  .slick-slide {
    cursor: pointer;
    color: #fff;
    background: $color-blue-base;
    padding: 7px 0;
    text-align: center;
    border-right: 1px solid $color-blue-dark;
    font-size: rem(20);
  }
  .slick-slide.slick-current {
    background: $color-black;
  }
  .slick-prev,.slick-next {
    position: absolute;
    top:0;
    height: 100%;
    border: 0;
    font-size: 0;
    width: 50px;
    z-index: 2;
    background: $color-black;
  }
  .slick-prev {
    left: 0;
    &::after {
    content: "<";
    font-size: 20px;
    color: #fff;
  }
  }
  .slick-next {
    right: 0;
    &::after {
    content: ">";
    font-size: 20px;
    color: #fff;
  }
  }

}

/*----------------------------------------------------------------*
  #Inner Section
*----------------------------------------------------------------*/


.Hole-flexwrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  text-align: center;
  @include im-media('>medium') {
flex-flow: row nowrap;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
  }
}

.Hole-details {
  max-width: 100%;
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  background: $color-black;
  @include im-media('>medium') {
  width: auto;
  background: none;
  }
  h4 {
    background: $color-black;
    color: $color-sand;
    display: block;
    padding: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    width: 100%;
    @include im-media('>medium') {
      display: inline-block;
      width: auto;
      height: 100%;
    }
    span {
      font-size: rem(60);
      font-weight: 700;
    }
  }
  p {

  }
}

.Hole-imageDescription {
  width: 100%;
  order: 3;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  @include im-media('>medium') {
  order: 2;
  width: 50%;
  }
}



.Hole-yardage {
  width: auto;
  background: $color-sand;
  border: 1px solid $color-white;
  margin-bottom: 30px;
  padding: 20px;
  text-transform: uppercase;
  width: 50%;
  order: 2;
@include im-media('>medium') {
width: auto;
order: 3;
}
}

.Hole-yardageMarker {
  margin-bottom: 10px;

  i {
    margin-right: 10px;
    font-size: 20px;
  }
}

.Hole-yardageMarker--blue  {
  color: $color-blue-base;
}

.Hole-yardageMarker--white  {
  color: #fff;
}

.Hole-yardageMarker--red  {
  color: $color-red-base;
}

.Hole-description {
  width: 100%;
  text-align: left;
  margin: 30px auto 0 auto;
  p {
    font-size: rem(18);
  }
}
