.Reviews {

}


.ReviewSlider-item {
  text-align: center;
  width: 80%;
  p {
    color: #fff;
    font-size: 18px;
    display: inline-block;
      font-style: italic;
    span {
      display: inline-block;
      color: #fff;
      position: relative;
      font-style: normal;
      font-weight: 700;
      &::before {
        content: "";
        width: 36px;
        top: 50%;
        height: 1px;
        background: #fff;
        display: block;
        position: absolute;
        left: -50px;
      }
      &::after {
        content: "";
        width: 15px;
        top: 50%;
        height: 3px;
        background: #fff;
        display: block;
        position: absolute;
        left: -39px;
        margin-top: -1px;
      }
    }
  }

}


.ReviewSlider .slick-dots  {
  margin: 0 auto;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
        background-color: rgba(255,255,255,0.4);
      }
    }
    &.slick-active {
      button::before {
        background-color: rgba(255,255,255,0.8);
      }
    }
  }
}
