.SpecialsAside {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
}

.SpecialsMain {
  width: calc(100% - 120px);
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;

}

.SpecialLink {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto 5px auto;
  &:hover {
    background-position: 0 100%;
  }
}

.SpecialLink-Juniors {
  width: 101px;
  height: 45px;
  background-image: url('../img/logos/btn_spec_playgolfjuniors.png');

}

.SpecialLink-footgolf {
  width: 71px;
  height: 65px;
  background-image: url('../img/logos/btn_spec_footgolf.png');

}

.SpecialLink-golfdinner {
  width: 92px;
  height: 69px;
  background-image: url('../img/logos/btn_spec_golfdinner.png');
}

.SpecialLink-ladiesnight {
  width: 101px;
  height: 36px;
  background-image: url('../img/logos/btn_spec_ladiesnight.png');
}

.SpecialLink-mensnight {
  width: 100px;
  height: 64px;
  background-image: url('../img/logos/btn_spec_mensnight.png');
}

.SpecialLink-sundays {
  width: 94px;
  height: 68px;
  background-image: url('../img/logos/btn_spec_sundaysatthesprings.png');
}

.SpecialLink-backnine {
  width: 89px;
  height: 65px;
  background-image: url('../img/logos/btn_spec_theback9.png');
}

.SpecialLink-vegas {
  width: 93px;
  height: 63px;
  background-image: url('../img/logos/btn_spec_vegasfundays.png');
}

.SpecialLink-limited {
  width: 81px;
  height: 56px;
  background-image: url('../img/logos/btn_spec_limitedtime.png');
}

.SpecialLink-double {
  width: 90px;
  height: 44px;
  background-image: url('../img/logos/DoubleTwilight.jpg');
}

.DaysAvailible {
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #ccc;
  span {
    color: #333;
  }
}

.page-id-608 .SpecialLink-double, .page-id-413 .SpecialLink-vegas, .page-id-414 .SpecialLink-ladiesnight, .page-id-415 .SpecialLink-mensnight, .page-id-416 .SpecialLink-Juniors, .page-id-417 .SpecialLink-footgolf, .page-id-418 .SpecialLink-sundays, .page-id-431 .SpecialLink-limited, .page-id-454 .SpecialLink-backnine, .page-id-453 .SpecialLink-golfdinner     {
    background-position: 0 100%;
}
