/*-----------------------------------------------------------------
# MAIN MENU STYLES
-----------------------------------------------------------------*/
.MainMenuWrap {
  display: none;
}
.MainMenu {
  padding-right: 20px;
}
@include im-media('>large') { /*********************************************************/
  .MobileMenuWrap {
    // NOW HIDE THE MOBILE MENU
    display: none;
  }
  .MainMenuWrap {
    display: block; // BRING IN THE FULL SIZE MENU
    position: absolute;
    right: 0;
    top: 0;
  }
  .MainMenu {
    background-color: transparent;
    position: relative;
    list-style: none;
    margin: 0;
    width: 100%;

  }
  .MainMenu > li {
    display: inline-block;
    margin: 0;
    position: relative;
    white-space: nowrap;
    a {
     color: $color-black;
     display: inline-block;
     font-size: rem(14);
     text-transform: uppercase;
     font-weight: 600;
     margin: 0;
     padding: 42px 1rem 42px 1rem;
    }
    // &:first-of-type > a {
    //   padding-left: 0;
    // }
    // &:last-of-type > a {
    //   padding-right: 0;
    // }
  }
  .MainMenu > li > a:hover {
    color: $color-blue-base;
  }
  .MainMenu > .current-menu-item > a,
  .MainMenu > .current_page_item > a,
  .MainMenu > .current_page_parent > a,
  .MainMenu > .current_page_ancestor > a {
    color: $color-blue-base;
  }

.MainMenu > li.MenuLinkButton {
  border: 1px solid $color-blue-base;
  a {
    padding: 10px 1rem 10px 1rem;
  }
}

  // main nav - drop down styles ----------------------------------------------- /
  .MainMenu li:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .MainMenu ul {
    background-color: $color-blue-base;
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms linear;
    z-index: 150;
      &::before {
        content: "";
        z-index: 200;
        display: block;
        width: 50px;
        height: 5px;
        position: absolute;
        top: -5px;
        background-color: $color-blue-base;
      }
  }
  .MainMenu ul li {
    float: none;
    position: relative;
    max-height: 0;
    transition: max-height 400ms linear;
    overflow: hidden;
    border-bottom: 1px solid darken( $color-blue-base , 3%);
    &:last-of-type{
      border-bottom: 0;
    }
    &:hover {
      background: lighten($color-blue-base , 5%);
    }
  }
    .MainMenu li:hover ul li {
      max-height: 140px;
    }
  .MainMenu ul li a {
    color: #ffffff;
    font-size: rem(15px);
    padding: 5px 16px;
    width: 100%;
    display: block;
    transition: none;
    text-transform: none;
    font-weight: 400;
  }
  .MainMenu ul li a:hover,
  .MainMenu ul .current-menu-item > a,
  .MainMenu ul .current-menu-parent > a,
  .MainMenu ul .current_page_item > a,
  .MainMenu ul .current_page_parent > a,
  .MainMenu ul .current_page_ancestor > a {
    color: #ffffff;
  }
  // end main nav - drop down styles ----------

.MainMenu li:last-of-type ul {
  right: 0;
  left: auto;
  &::before {
    right: 0;
  }
}


} // end MAIN NAV breakpoint - large *********************************

@include im-media('>1180px') {
  .MainMenu{
padding-right: 0;
}
}
