.single .ArticleHeader {
  background-size: cover;
  background-position: center;
  height: 400px;
  color: #fff; }
  .single .ArticleHeader h1 {
    color: #fff; }

/*# sourceMappingURL=_singlepost.css.map */